.header-container,
.banner-container,
.content-2,
.c3-text,
.c3-author,
.cta-container{
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    
}




/* Fonts, colors, backgrounds */
header,
footer,
.main-banner{
    background-color: #1f2937;
    color: #f9faf8;
}

.banner-title{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.nav{
    font-size: 24px;
}

.banner-button,
.call-to-action{
    background-color: #3882f6;
    color: white;
}

.c2-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.content-3{
    background-color: #e5e7eb;
}

.c3-text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.banner-image{
    width: 500px;
    height: 300px;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
/* Fonts, colors, backgrounds ending*/

/* Styling */

body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
}


.header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
}



ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}
.nav{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.main-banner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
    gap: 70px;
}

.banner-button{
    margin-top: 20px;
    padding: 6px;
    border-radius: 20%;
}